mat-sidenav {
    background: #f8f9fa;
    width: 250px;
}

mat-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

mat-icon {
    margin-right: 16px;
}

h2 {
    margin: 16px 0;
}

.spacer {
    flex: 1;
}

.logout-btn {
    background-color: #ffd166;
    color: black !important;
    font-weight: bold;
}

.username-display {
    margin-right: 15px;
    font-size: 16px;
    color: white;
}

.mat-toolbar-row {
    display: flex;
    align-items: center;
}