.left-side-nav {
    color: white; /* This sets the default text color to white */
    width: 250px;
    background-color: black;
    height: 100%;
}

.logo {
    text-align: center;
    padding: 2.6rem 1rem;
}

.logo img {
    width: 250px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ensure the links are styled correctly */
.left-side-nav a,
.left-side-nav .mat-list-item a {
    color: white !important; /* Force the text color to white */
    font-size: 20px; /* Set font size if needed */
}

/* Optional: Change hover color for better UX */
.left-side-nav a:hover {
    color: lightgray; /* Optional hover color */
}
