<div class="user-list-container">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary m-3" mat-raised-button (click)="openDialog()">Add Expense</button>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let user of users">
            <mat-card class="user-card" [routerLink]="['/expense-history', user.id]">
                <mat-card-header>
                    <mat-icon mat-card-avatar>account_circle</mat-icon>
                    <mat-card-title>{{ user.name }}</mat-card-title>
                    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button color="primary">View History</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>